ItemUpdateUtility/Schema/ItemUpdate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="artikelregister">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="artikel">
          <xs:complexType>
            <xs:all>
              <xs:element name="distributor_id" type="xs:integer" />
            </xs:all>
            <xs:attribute name="artikelnummer" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>